Temp/FSTimeGet-5713a596e5c18fe4cbab1e3b91607822
Temp/*
UserSettings/*
.vs/*
Library/Il2cppBuildCache/*
Library/PackageCache/*
Library/PlayerDataCache/*
Library/ShaderCache/*
Library/StateCache/*
Library/Artifacts/*